/* Стиль модального окна */
.modal {
  position: fixed; /* Окно фиксировано относительно экрана */
  top: 50%; /* Расположение по вертикали */
  left: 50%; /* Расположение по горизонтали */
  transform: translate(-50%, -50%); /* Центрирование через смещение */
  min-width: 500px; /* Ширина окна */
  min-height: 300px; /* Минимальная высота окна */
  background-color: white; /* Белый фон окна */
  border-radius: 10px; /* Закругленные углы */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); /* Тень вокруг окна */
  padding: 20px; /* Внутренние отступы */
  z-index: 1050; /* Высокий порядок слоя */
  overflow: hidden; /* Скрытие содержимого, выходящего за пределы */
  display: flex; /* Для удобного размещения внутреннего контента */
  flex-direction: column; /* Расположение содержимого сверху вниз */
  justify-content: space-between; /* Расположение контента внутри */
}

/* Стиль заднего фона (backdrop) */
.backdrop {
  position: fixed; /* Фиксируем фон */
  top: 0;
  left: 0;
  width: 100vw; /* Фон на весь экран */
  height: 100vh; /* Фон на весь экран */
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачная черная заливка */
  z-index: 1040; /* Подложка ниже модального окна */
}